* {
    margin: 0px;
    padding: 0px;
}

.page-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.calculator-container {
    /* border: 1px solid black; */
    border-radius: 5px;
    width: 20%;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 25vh;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.calculator-innerbox {
    margin: 10px;
    width: 95%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
}

.calculator-screen {
    border: 1px solid black;
    margin: 10px;
    align-self: center;
    height: auto;
    color: aliceblue;
    background-color: white;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    color: black;
    align-self: center;
    flex-wrap: wrap;
    width: 97%;
    border-radius: 4px;
}

.btn {
    padding: 0px;
}

.calculator-buttons {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
}

.btn {
    flex: 1;
    padding: 20px 10px 20px 10px;
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 2px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 6px 6px rgba(255, 255, 255, 0.23);
    margin: 2px;
}

.output-bottom {
    align-self: flex-end;
}

.output-div {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 5px 10px;
}

.input-top {
    font-weight: 200;
    margin: 10px;
}

.btnText {
    font-weight: bold;
}

/* .clearBtn {
    background-color: cyan;
    border-radius: 10px;
} */
.deleteBtn {
    background-color: rgb(251, 99, 99);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 6px 6px rgba(255, 23, 23, 0.23);

}

.clearBtn {
    background-color: rgb(36, 215, 251);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 6px 6px rgba(0, 203, 254, 0.23);

}

.divideBtn,
.multiplyBtn,
.minusBtn,
.plusBtn {
    background-color: rgb(253, 253, 168);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 6px 6px rgba(203, 254, 17, 0.23);

}

.footer {
    margin-top: auto;
    padding: 10px;
}

.footer-text {
    font-weight: 100;
}